
<section class="section pt-5"  id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">Our Services</h1>
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning and add a value for our clients.</p>
          </div>
      </div>
      <div class="row margin-t-30">
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-display2 text-custom"></i>
                  <h4 class="padding-t-15">Gotimk</h4>
                  <p class="padding-t-15 text-muted">At code central we teach kids the masters of </p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-display2 text-custom"></i>
                  <h4 class="padding-t-15">Ropodigz</h4>
                  <p class="padding-t-15 text-muted">At code central are avalible to teach kids about Robotics and let them build there very own stoboR!</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-piggy text-custom"></i>
                  <h4 class="padding-t-15">Zdradechi Zoludiomz</h4>
                  <p class="padding-t-15 text-muted">Beeen freinds they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean necessary regelialia.</p>
              </div>
          </div>
      </div>
      <div class="row margin-t-30">
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-science text-custom"></i>
                  <h4 class="padding-t-15">Awezone Zubbord</h4>
                  <p class="padding-t-15 text-muted">It is a paradisematic state, in which roasted parts of sentences bonk into your nose leave for the near World.</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-news-paper text-custom"></i>
                  <h4 class="padding-t-15">Druly Nuldiburboze</h4>
                  <p class="padding-t-15 text-muted">Even the all-powerful Pointing has no control about the blind texts it is an unorthographic.</p>
              </div>
          </div>
          <div class="col-lg-4 margin-t-20">
              <div class="services-box text-center hover-effect">
                  <i class="pe-7s-plane text-custom"></i>
                  <h4 class="padding-t-15">Eazy do guzdonise</h4>
                  <p class="padding-t-15 text-muted">Question Marks and devious Semikoli, but the Big Blind Text didn’t listen. He packed her seven hundred versalia.</p>
              </div>
          </div>
      </div>
  </div>
</section>